
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("DoDelete", "Home", FormMethod.Post))
{
    <label>ID</label>
    <br />
    @Html.TextBox("Id", null, new { @class = "form-control", @type = "number" });
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
}

